.baseTypography {
	font-family: 'Guardian Sans', 'Helvetica', sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.5px;
	text-rendering: geometricPrecision;
}
.card {
	composes:  baseTypography;
	position: relative;
	padding: 16px;
	margin: 16px auto 24px auto;
	border: solid 1px #ccc;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 16px 16px -16px rgba(0,0,0,0.3);
	display: block;
	box-sizing: border-box;
}