.baseTypography {
	font-family: 'Guardian Sans', 'Helvetica', sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.5px;
	text-rendering: geometricPrecision;
}
.card {
	composes:  baseTypography;
	position: relative;
	padding: 16px;
	padding:  calc( 16px + (16 - 10) * ( (100vw - 300px) / ( 1200 - 300) ));
	margin: 16px auto 24px auto;
	border: solid 1px #ccc;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 16px 16px -16px rgba(0,0,0,0.3);
	display: block;
	box-sizing: border-box;
}


.timeline {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	height: 100%;
	width:  40%;
}

.verticalStripe {
	position: relative;
	width: 1px;
	height: 100%;
	margin: 0 auto;
	background-color: #333;
}