.App {
  padding: 0 32px;
  background: #f2f2f2;
}

.elementContainer {
	padding:  32px 0;
}

.elementName {
	display: table;
	font-family: 'Helvetica', sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: #000;
	color: #fff;
	padding: 4px 8px;
	margin: 0;
	border-radius: 4px;
}

.previewWrapper {
	padding: 32px;
	background: #fff;
	border: solid 1px #ccc;
	margin-top:  8px;
	border-radius: 4px;
}